<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CRUD User Interface for NodeJS, ExpressJS and MongoDB REST API</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/all.css" rel="stylesheet" type="text/css"/>  
</head>
<body>
  <div class="container"> <!-- class="table-responsive text-nowrap (play with Bootstrap attributes for look you want) -->
    
    <h2><a class="breadcrumb-item text-dark" href="/">Customer Database</a> <span class="badge badge-secondary" id="databaseFilterNotice"></span></h2>
    

    <!-- Quotations Table -->
    <table class="table table-hover table-striped" id="quotationsList">
      <thead>
        <tr>  <!-- <tr class="d-flex"> -->
          <th style="width: 10%">Title</th>
          <th style="width: 10%">First Name</th>
          <th style="width: 10%">Surname</th>
          <th style="width: 10%">Mobile</th>
          <th style="width: 10%">Email</th>
          <th style="width: 10%">Address Line 1</th>
          <th style="width: 10%">Address Line 2</th>
          <th style="width: 10%">Town</th>
          <th style="width: 10%">County</th>
          <th style="width: 10%">Eircode</th>
          <th class="text-center" style="width: 15%">Options</th>
        </tr>
      </thead>
      <tbody>
        {{#each results}}
        <tr >
          <td style="width: 10%">{{title}}</td>
          <td style="width: 10%">{{fname}}</td>
          <td style="width: 10%">{{sname}}</td>
          <td style="width: 10%">{{mobile}}</td>
          <td style="width: 10%">{{email}}</td>
          <td style="width: 10%">{{address1}}</td>
          <td style="width: 10%">{{address2}}</td>
          <td style="width: 10%">{{town}}</td>
          <td style="width: 10%">{{county}}</td>
          <td style="width: 10%">{{eircode}}</td>
          <td class="text-right" style="width: 15%">
            <a href="javascript:void(0);" class="btn btn-sm btn-info update" data-id="{{ id }}" data-quote="{{ fname }}" data-author="{{ sname }}">Update</a>
            <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-id="{{ id }}" data-quote="{{ fname }}"  data-author="{{ sname }}">Delete</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>

    <!-- Database Search -->
    <div class="input-group mb-3">
        <!-- Add Quotation Button  -->
        <button class="btn btn-primary mr-5" data-toggle="modal" data-target="#addModal">Add</button>
        <!-- Search the Database (Quotations) -->
        <div class="input-group-prepend">
             <select class="custom-select" id="databaseSearchSelect">
                <option value="fname" selected>Frist Name</option>
                <option value="sname">Sname</option>
                <option value="mobile">Mobile</option>
                <option value="email">Email</option>
                <option value="address1">Address Line 1</option>
                <option value="address2">Address Line 2</option>
                <option value="town">Town</option>
                <option value="county">County</option>
                <option value="eircode">Eircode</option>
            </select>
        </div>
        <input class="form-control py-2 border-left-0 border" type="search" placeholder="Find in Database ..." id="databaseSearchFilter"> 
        <div class="input-group-append">
            <button class="btn btn-success" type="button" id="databaseSearch">Find</button>
        </div>
    </div>

    <!-- Modal Add Quotation-->
    <form id="addForm" action="/customers" method="POST">
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Add New Customer</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
                <div class="form-group">
                   <input type="text" name="title" class="form-control" placeholder="Title" required>
               </div>
               <div class="form-group">
                   <input type="text" name="fname" class="form-control" placeholder="First Name" required>
               </div>
               <div class="form-group">
                   <input type="text" name="sname" class="form-control" placeholder="Surname" required>
               </div>
               <div class="form-group">
                   <input type="text" name="mobile" class="form-control" placeholder="Mobile" required>
               </div>
               <div class="form-group">
                   <input type="text" name="email" class="form-control" placeholder="Email" required>
               </div>
               <div class="form-group">
                   <input type="text" name="address1" class="form-control" placeholder="Address Line 1" required>
               </div>
               <div class="form-group">
                   <input type="text" name="address2" class="form-control" placeholder="Address Line 2" required>
               </div>
               <div class="form-group">
                   <input type="text" name="town" class="form-control" placeholder="Town" required>
               </div>
               <div class="form-group">
                   <input type="text" name="county" class="form-control" placeholder="County" required>
               </div>
               <div class="form-group">
                   <input type="text" name="eircode" class="form-control" placeholder="Eircode" required>
               </div>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button type="submit" class="btn btn-primary">Save</button>
             </div>
           </div>
         </div>
        </div>
    </form>

    <!-- Modal Update Customer -->
    <form id="updateForm" action="/customers" method="PUT"> <!-- we can't PUT with HTML form - this is just an attribute  picked up by AjAX -->
       <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Update Customer</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                   <input type="text" name="title" class="form-control" placeholder="Title" required>
               </div>
               <div class="form-group">
                   <input type="text" name="fname" class="form-control" placeholder="First Name" required>
               </div>
               <div class="form-group">
                   <input type="text" name="sname" class="form-control" placeholder="Surname" required>
               </div>
               <div class="form-group">
                   <input type="text" name="mobile" class="form-control" placeholder="Mobile" required>
               </div>
               <div class="form-group">
                   <input type="text" name="email" class="form-control" placeholder="Email" required>
               </div>
               <div class="form-group">
                   <input type="text" name="address1" class="form-control" placeholder="Address Line 1" required>
               </div>
               <div class="form-group">
                   <input type="text" name="address2" class="form-control" placeholder="Address Line 2" required>
               </div>
               <div class="form-group">
                   <input type="text" name="town" class="form-control" placeholder="Town" required>
               </div>
               <div class="form-group">
                   <input type="text" name="county" class="form-control" placeholder="County" required>
               </div>
               <div class="form-group">
                   <input type="text" name="eircode" class="form-control" placeholder="Eircode" required>
               </div>
             </div>
            <div class="modal-footer">
              <input type="hidden" name="quotationId" class="id">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </div>
        </div>
       </div>
    </form>

    <!-- Modal Delete Quotation-->
    <form id="deleteForm" action="/customers" method="DELETE"> <!-- we can't DELETE with HTML form - this is just an attribute  picked up by AjAX -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
               <div class="modal-content">
                   <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Delete Customer</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                   </div>
                   <div class="modal-body">
                        <strong>Are you sure you want to delete this Customer?</strong>
                   </div>
                   <div class="modal-footer">
                        <input type="hidden" name="quotationId" class="form-control id" required>
                        <button type="submit" class="btn btn-success">Delete</button>
                   </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Operation Successful Alert Modal -->
    <div class="modal fade" id="successAlert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="alert alert-success" role="alert">
                <strong>Oh Great!</strong> RESTful Operation was Successful!
            </div>
        </div>
    </div>

    <!-- Operation Unsuccessful Alert Modal -->
    <div class="modal fade" id="errorAlert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="alert alert-danger" role="alert">
                <strong>Oh No!</strong> RESTful Operation was Unsuccessful!
            </div>
        </div>
    </div>
 </div>

<div style="height:100px; clear:both;"></div>


<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<div class="container"> <!-- class="table-responsive text-nowrap (play with Bootstrap attributes for look you want) -->
    
    <h2><a class="breadcrumb-item text-dark" href="/P">Phone Database</a> <span class="badge badge-secondary" id="databaseFilterNotice2"></span></h2>
    
    <!--<h2><a class="breadcrumb-item text-dark" href="/S">Order Database</a> <span class="badge badge-secondary" id="databaseFilterNotice"></span></h2>-->

    <!-- Search the Results (Quotations) Table  -->
    <!--<div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01"><i class="fa fa-search"></i></label>
            <select class="custom-select" id="fieldSearchSelect2">
                <option value="1" selected>First Name</option>
                <option value="2">Surname</option>
            </select>
        </div>
        <input class="form-control py-2 border-left-0 border" type="search" placeholder="Filter Quotation List ..." id="tableFilter2"> 
    </div>

    <!-- Quotations Table -->
    <table class="table table-hover table-striped" id="quotationsList2">
      <thead>
        <tr>  <!-- <tr class="d-flex"> -->
          <th style="width: 10%">model</th>
          <th style="width: 10%">manufacturer</th>
          <th style="width: 10%">price</th>
          <th class="text-center" style="width: 15%">Options</th>
        </tr>
      </thead>
      <tbody>
        {{#each results2}}
        <tr >
          <td style="width: 10%">{{model}}</td>
          <td style="width: 10%">{{manufacturer}}</td>
          <td style="width: 10%">{{price}}</td>
          <td class="text-right" style="width: 15%">
            <a href="javascript:void(0);" class="btn btn-sm btn-info update2" data-id="{{ id }}" data-quote="{{ fname }}" data-author="{{ sname }}">Update2</a>
            <a href="javascript:void(0);" class="btn btn-sm btn-danger delete2" data-id="{{ id }}" data-quote="{{ fname }}"  data-author="{{ sname }}">Delete2</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>

    <!-- Database Search -->
    <div class="input-group mb-3">
        <!-- Add Quotation Button  -->
        <button class="btn btn-primary mr-5" data-toggle="modal" data-target="#addModal2">Add</button>
        <!-- Search the Database (Quotations) -->
        <div class="input-group-prepend">
             <select class="custom-select" id="databaseSearchSelect2">
                <option value="model" selected>model</option>
                <option value="manufacturer">manufacturer</option>
                <option value="price">price</option>
            </select>
        </div>
        <input class="form-control py-2 border-left-0 border" type="search" placeholder="Find in Database ..." id="databaseSearchFilter2"> 
        <div class="input-group-append">
            <button class="btn btn-success" type="button" id="databaseSearch2">Find</button>
        </div>
    </div>

    <!-- Modal Add Quotation-->
    <form id="addForm2" action="/phones" method="POST">
        <div class="modal fade" id="addModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel2">Add New Phone</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
                <div class="form-group">
                   <input type="text" name="model" class="form-control" placeholder="model" required>
               </div>
               <div class="form-group">
                   <input type="text" name="manufacturer" class="form-control" placeholder="manufacturer" required>
               </div>
               <div class="form-group">
                   <input type="text" name="price" class="form-control" placeholder="price" required>
               </div>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button type="submit" class="btn btn-primary">Save</button>
             </div>
           </div>
         </div>
        </div>
    </form>

    <!-- Modal Update Phone -->
    <form id="updateForm2" action="/phones" method="PUT"> <!-- we can't PUT with HTML form - this is just an attribute  picked up by AjAX -->
       <div class="modal fade" id="updateModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel2">Update Phone</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                   <input type="text" name="model" class="form-control" placeholder="model" required>
               </div>
               <div class="form-group">
                   <input type="text" name="manufacturer" class="form-control" placeholder="manufacturer" required>
               </div>
               <div class="form-group">
                   <input type="text" name="price" class="form-control" placeholder="price" required>
               </div>
             </div>
            <div class="modal-footer">
              <input type="hidden" name="quotationId" class="id">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </div>
        </div>
       </div>
    </form>

    <!-- Modal Delete Quotation-->
    <form id="deleteForm2" action="/phones" method="DELETE"> <!-- we can't DELETE with HTML form - this is just an attribute  picked up by AjAX -->
        <div class="modal fade" id="deleteModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
               <div class="modal-content">
                   <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel2">Delete Phone</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                   </div>
                   <div class="modal-body">
                        <strong>Are you sure you want to delete this Phone?</strong>
                   </div>
                   <div class="modal-footer">
                        <input type="hidden" name="quotationId" class="form-control id" required>
                        <button type="submit" class="btn btn-success">Delete</button>
                   </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Operation Successful Alert Modal -->
    <div class="modal fade" id="successAlert2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="alert alert-success" role="alert">
                <strong>Oh Great!</strong> RESTful Operation was Successful!
            </div>
        </div>
    </div>

    <!-- Operation Unsuccessful Alert Modal -->
    <div class="modal fade" id="errorAlert2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="alert alert-danger" role="alert">
                <strong>Oh No!</strong> RESTful Operation was Unsuccessful!
            </div>
        </div>
    </div>
 </div>

<div style="height:100px; clear:both;"></div>

<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<div class="container"> <!-- class="table-responsive text-nowrap (play with Bootstrap attributes for look you want) -->
    
    <h2><a class="breadcrumb-item text-dark" href="/O">Order Database</a> <span class="badge badge-secondary" id="databaseFilterNotice3"></span></h2>
    
    <!--<h2><a class="breadcrumb-item text-dark" href="/S">Order Database</a> <span class="badge badge-secondary" id="databaseFilterNotice"></span></h2>-->

    <!-- Search the Results (Quotations) Table  -->
    <!--<div class="input-group mb-3">
        <!--<div class="input-group-prepend">
            <!--<label class="input-group-text" for="inputGroupSelect01"><i class="fa fa-search"></i></label>
            <!--<select class="custom-select" id="fieldSearchSelect3">
                <!--<option value="1" selected>First Name</option>
                <!--<option value="2">Surname</option>
            <!--</select>
        <!--</div>
        <!--<input class="form-control py-2 border-left-0 border" type="search" placeholder="Filter Quotation List ..." id="tableFilter3"> 
    <!--</div>-->

    <!-- Quotations Table -->
    <table class="table table-hover table-striped" id="quotationsList3">
      <thead>
        <tr>  <!-- <tr class="d-flex"> -->
          <th style="width: 10%">First Name</th>
          <th style="width: 10%">Surname</th>
          <th style="width: 10%">Phone(s)</th>
          <th class="text-center" style="width: 15%">Options</th>
        </tr>
      </thead>
      <tbody>
        {{#each results3}}
        <tr >
          <td style="width: 10%">{{fnameO}}</td>
          <td style="width: 10%">{{snameO}}</td>
          <td style="width: 10%">{{modelO}}</td>
          <td class="text-right" style="width: 15%">
            <a href="javascript:void(0);" class="btn btn-sm btn-info update3" data-id="{{ id }}" data-quote="{{ fname }}" data-author="{{ sname }}">Update3</a>
            <a href="javascript:void(0);" class="btn btn-sm btn-danger delete3" data-id="{{ id }}" data-quote="{{ fname }}"  data-author="{{ sname }}">Delete3</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>

    <!-- Database Search -->
    <div class="input-group mb-3">
        <!-- Add Quotation Button  -->
        <button class="btn btn-primary mr-5" data-toggle="modal" data-target="#addModal3">Add</button>
        <!-- Search the Database (Quotations) -->
        <div class="input-group-prepend">
             <select class="custom-select" id="databaseSearchSelect3">
                <option value="fnameO" selected>First Name</option>
                <option value="snameO">Surname</option>
                <option value="modelO">Phone(s)</option>
            </select>
        </div>
        <input class="form-control py-2 border-left-0 border" type="search" placeholder="Find in Database ..." id="databaseSearchFilter3"> 
        <div class="input-group-append">
            <button class="btn btn-success" type="button" id="databaseSearch3">Find</button>
        </div>
    </div>

    <!-- Modal Add Quotation-->
    <form id="addForm3" action="/orders" method="POST">
        <div class="modal fade" id="addModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel3">Add New Order</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
                <div class="form-group">
                   <input type="text" name="fnameO" class="form-control" placeholder="First Name" required>
               </div>
               <div class="form-group">
                   <input type="text" name="snameO" class="form-control" placeholder="Surname" required>
               </div>
               <div class="form-group">
                   <input type="text" name="modelO" class="form-control" placeholder="Phone" required>
               </div>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button type="submit" class="btn btn-primary">Save</button>
             </div>
           </div>
         </div>
        </div>
    </form>

    <!-- Modal Update Phone -->
    <form id="updateForm3" action="/orders" method="PUT"> <!-- we can't PUT with HTML form - this is just an attribute  picked up by AjAX -->
       <div class="modal fade" id="updateModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel3">Update Phone</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                   <input type="text" name="fnameO" class="form-control" placeholder="First Name" required>
               </div>
               <div class="form-group">
                   <input type="text" name="snameO" class="form-control" placeholder="Surname" required>
               </div>
               <div class="form-group">
                   <input type="text" name="modelO" class="form-control" placeholder="Phone" required>
               </div>
             </div>
            <div class="modal-footer">
              <input type="hidden" name="quotationId" class="id">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </div>
        </div>
       </div>
    </form>

    <!-- Modal Delete Quotation-->
    <form id="deleteForm3" action="/orders" method="DELETE"> <!-- we can't DELETE with HTML form - this is just an attribute  picked up by AjAX -->
        <div class="modal fade" id="deleteModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
               <div class="modal-content">
                   <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel3">Delete Order</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                   </div>
                   <div class="modal-body">
                        <strong>Are you sure you want to delete this Order?</strong>
                   </div>
                   <div class="modal-footer">
                        <input type="hidden" name="quotationId" class="form-control id" required>
                        <button type="submit" class="btn btn-success">Delete</button>
                   </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Operation Successful Alert Modal -->
    <div class="modal fade" id="successAlert3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="alert alert-success" role="alert">
                <strong>Oh Great!</strong> RESTful Operation was Successful!
            </div>
        </div>
    </div>

    <!-- Operation Unsuccessful Alert Modal -->
    <div class="modal fade" id="errorAlert3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="alert alert-danger" role="alert">
                <strong>Oh No!</strong> RESTful Operation was Unsuccessful!
            </div>
        </div>
    </div>
 </div>
 <!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->



<script src="/assets/js/jquery-3.5.0.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script>
    $(document).ready(function(){
        //
        // Handle Add Modal form submit using AJAX PUT
        //
        var addForm = $("#addForm");
        addForm.submit(function(e){
            e.preventDefault(); // prevent handling the normal form submit click!
            $.ajax({
                type: addForm.attr('method'),
                url:  addForm.attr('action'),
                data: addForm.serialize(), // get data from form!
                success: function (data) {
                    console.log('Update successful!');
                    // make a timed Bootstrap Alert on Success
                    // then re-direct to "/"
                    $('#successAlert').modal('show');
                    var timer = setTimeout(function() {
                        $(location).attr('href', '/')
                    }, 3000);
                },
                error: function (data) {
                    console.log('An error occurred.');
                    // make a timed Bootstrap Alert on Error
                    // then re-direct to "/"
                    $('#errorAlert').modal('show');
                    var timer = setTimeout(function() {
                        $(location).attr('href', '/')
                    }, 3000);
                },
            });
            $('#addModal').modal('hide');
        });
        //
        // Handle Add Modal form submit using AJAX PUT Phone (2)
        //
        var addForm2 = $("#addForm2");
        addForm2.submit(function(e){
            e.preventDefault(); // prevent handling the normal form submit click!
            $.ajax({
                type: addForm2.attr('method'),
                url:  addForm2.attr('action'),
                data: addForm2.serialize(), // get data from form!
                success: function (data) {
                    console.log('Update successful!');
                    // make a timed Bootstrap Alert on Success
                    // then re-direct to "/"
                    $('#successAlert').modal('show');
                    var timer = setTimeout(function() {
                        $(location).attr('href', '/P')
                    }, 3000);
                },
                error: function (data) {
                    console.log('An error occurred.');
                    // make a timed Bootstrap Alert on Error
                    // then re-direct to "/"
                    $('#errorAlert').modal('show');
                    var timer = setTimeout(function() {
                        $(location).attr('href', '/P')
                    }, 3000);
                },
            });
            $('#addModal2').modal('hide');
        });
        //
        // Handle Add Modal form submit using AJAX PUT Order (3)
        //
        var addForm3 = $("#addForm3");
        addForm3.submit(function(e){
            e.preventDefault(); // prevent handling the normal form submit click!
            $.ajax({
                type: addForm3.attr('method'),
                url:  addForm3.attr('action'),
                data: addForm3.serialize(), // get data from form!
                success: function (data) {
                    console.log('Update successful!');
                    // make a timed Bootstrap Alert on Success
                    // then re-direct to "/"
                    $('#successAlert').modal('show');
                    var timer = setTimeout(function() {
                        $(location).attr('href', '/O')
                    }, 3000);
                },
                error: function (data) {
                    console.log('An error occurred.');
                    // make a timed Bootstrap Alert on Error
                    // then re-direct to "/"
                    $('#errorAlert').modal('show');
                    var timer = setTimeout(function() {
                        $(location).attr('href', '/O')
                    }, 3000);
                },
            });
            $('#addModal3').modal('hide');
        });
        //
        // Set up the Update Modal - It is shown, and data passed, via button click
        //
        $('#quotationsList').on('click','.update',function(){
            var quotation_id = $(this).data('id');
            var quotation_quote = $(this).data('quote');
            var quotation_author = $(this).data('author');
            // alert (quotation_id+": "+ quotation_quote+" "+quotation_author);
            $('#updateModal').modal('show');
            $('.quotation').val(quotation_quote);
            $('.author').val(quotation_author);
            $('.id').val(quotation_id);
        });
        //
        // Set up the Update Modal - It is shown, and data passed, via button click Phone (2)
        //
        $('#quotationsList2').on('click','.update2',function(){
            var quotation_id = $(this).data('id');
            var quotation_quote = $(this).data('quote');
            var quotation_author = $(this).data('author');
            // alert (quotation_id+": "+ quotation_quote+" "+quotation_author);
            $('#updateModal2').modal('show');
            $('.quotation').val(quotation_quote);
            $('.author').val(quotation_author);
            $('.id').val(quotation_id);
        });
        //
        // Set up the Update Modal - It is shown, and data passed, via button click Order (3)
        //
        $('#quotationsList3').on('click','.update3',function(){
            var quotation_id = $(this).data('id');
            var quotation_quote = $(this).data('quote');
            var quotation_author = $(this).data('author');
            // alert (quotation_id+": "+ quotation_quote+" "+quotation_author);
            $('#updateModal3').modal('show');
            $('.quotation').val(quotation_quote);
            $('.author').val(quotation_author);
            $('.id').val(quotation_id);
        });
        //
        // Handle Update Modal form submit using AJAX PUT
        //
        var updateForm = $("#updateForm");
        updateForm.submit(function(e){
            e.preventDefault(); // prevent handling the normal form submit click!
            var id = updateForm.find('input[name="quotationId"]').val();    
            $.ajax({
                type: updateForm.attr('method'),
                url:  updateForm.attr('action')+"/"+id,
                data: updateForm.serialize(), // get data from form!
                success: function (data) {
                    console.log('Update successful!');
                    // make a timed Bootstrap Alert on Success
                    // then re-direct to "/"
                    $('#successAlert').modal('show');
                    var timer = setTimeout(function() {
                        $(location).attr('href', '/')
                    }, 3000);
                },
                error: function (data) {
                    console.log('An error occurred.');
                    // make a timed Bootstrap Alert on Error
                    // then re-direct to "/"
                    $('#errorAlert').modal('show');
                    var timer = setTimeout(function() {
                        $(location).attr('href', '/')
                    }, 3000);
                },
            });
            $('#updateModal').modal('hide');
        });
        //
        // Handle Update Modal form submit using AJAX PUT Phone (2)
        //
        var updateForm2 = $("#updateForm2");
        updateForm2.submit(function(e){
            e.preventDefault(); // prevent handling the normal form submit click!
            var id = updateForm2.find('input[name="quotationId"]').val();    
            $.ajax({
                type: updateForm2.attr('method'),
                url:  updateForm2.attr('action')+"/"+id,
                data: updateForm2.serialize(), // get data from form!
                success: function (data) {
                    console.log('Update successful!');
                    // make a timed Bootstrap Alert on Success
                    // then re-direct to "/"
                    $('#successAlert').modal('show');
                    var timer = setTimeout(function() {
                        $(location).attr('href', '/P')
                    }, 3000);
                },
                error: function (data) {
                    console.log('An error occurred.');
                    // make a timed Bootstrap Alert on Error
                    // then re-direct to "/"
                    $('#errorAlert').modal('show');
                    var timer = setTimeout(function() {
                        $(location).attr('href', '/P')
                    }, 3000);
                },
            });
            $('#updateModal2').modal('hide');
        });
        //
        // Handle Update Modal form submit using AJAX PUT Order (3)
        //
        var updateForm3 = $("#updateForm3");
        updateForm3.submit(function(e){
            e.preventDefault(); // prevent handling the normal form submit click!
            var id = updateForm3.find('input[name="quotationId"]').val();    
            $.ajax({
                type: updateForm3.attr('method'),
                url:  updateForm3.attr('action')+"/"+id,
                data: updateForm3.serialize(), // get data from form!
                success: function (data) {
                    console.log('Update successful!');
                    // make a timed Bootstrap Alert on Success
                    // then re-direct to "/"
                    $('#successAlert').modal('show');
                    var timer = setTimeout(function() {
                        $(location).attr('href', '/O')
                    }, 3000);
                },
                error: function (data) {
                    console.log('An error occurred.');
                    // make a timed Bootstrap Alert on Error
                    // then re-direct to "/"
                    $('#errorAlert').modal('show');
                    var timer = setTimeout(function() {
                        $(location).attr('href', '/O')
                    }, 3000);
                },
            });
            $('#updateModal3').modal('hide');
        });
        //
        // Set up the Delete Modal - It is shown, and data passed, via button click
        //
        $('#quotationsList').on('click','.delete',function(){
            var quotation_id = $(this).data('id');
            // let's remind the user which quotation they are deleting
            var quotation_quote = $(this).data('quote'); 
            var quotation_author = $(this).data('author');
            var subQuote = quotation_quote.substring(0,15);
            var authorSurname = quotation_author.split(" ").splice(-1)[0];
            $("#deleteModal .modal-body").html("<span class=\"font-weight-bold\">Are you sure you want to delete Customer: </span><span class=\"font-italic\">"+subQuote+"... ("+authorSurname+")</span><span class=\"font-weight-bold\">?</span>");
            $('#deleteModal').modal('show');
            $('.id').val(quotation_id);
        });
        //
        // Set up the Delete Modal - It is shown, and data passed, via button click Phone (2)
        //
        $('#quotationsList2').on('click','.delete2',function(){
            var quotation_id = $(this).data('id');
            // let's remind the user which quotation they are deleting
            var quotation_quote = $(this).data('quote'); 
            var quotation_author = $(this).data('author');
            var subQuote = quotation_quote.substring(0,15);
            var authorSurname = quotation_author.split(" ").splice(-1)[0];
            $("#deleteModal2 .modal-body").html("<span class=\"font-weight-bold\">Are you sure you want to delete Phone: </span><span class=\"font-italic\">"+subQuote+"... ("+authorSurname+")</span><span class=\"font-weight-bold\">?</span>");
            $('#deleteModal2').modal('show');
            $('.id').val(quotation_id);
        });
        //
        // Set up the Delete Modal - It is shown, and data passed, via button click orders (3)
        //
        $('#quotationsList3').on('click','.delete3',function(){
            var quotation_id = $(this).data('id');
            // let's remind the user which quotation they are deleting
            var quotation_quote = $(this).data('quote'); 
            var quotation_author = $(this).data('author');
            var subQuote = quotation_quote.substring(0,15);
            var authorSurname = quotation_author.split(" ").splice(-1)[0];
            $("#deleteModal3 .modal-body").html("<span class=\"font-weight-bold\">Are you sure you want to delete Order: </span><span class=\"font-italic\">"+subQuote+"... ("+authorSurname+")</span><span class=\"font-weight-bold\">?</span>");
            $('#deleteModal3').modal('show');
            $('.id').val(quotation_id);
        });
        //
        // Handle Delete Modal form submit using AJAX DELETE
        //
        var deleteForm = $("#deleteForm");
        deleteForm.submit(function(e){
            // make everything look like a Single Page Application
            // consuming the RESTful API routes based on user selection
            e.preventDefault();  // prevent handling the normal form submit click!
            var id = deleteForm.find('input[name="quotationId"]').val();   
            $.ajax({
                type: deleteForm.attr('method'),
                url:  deleteForm.attr('action')+"/"+id,
                success: function (data) {
                    console.log('Deletion successful!');
                    // make a timed Bootstrap Alert on Success
                    // then re-direct to "/"
                    $('#successAlert').modal('show');
                    var timer = setTimeout(function() {
                        $(location).attr('href', '/')
                    }, 3000);
                },
                error: function (data) {
                    console.log('An error occurred.');
                    // make a timed Bootstrap Alert on Error
                    // then re-direct to "/"
                    $('#errorAlert').modal('show');
                    var timer = setTimeout(function() {
                        $(location).attr('href', '/')
                    }, 3000);
                },
            });
            $('#deleteModal').modal('hide');
        });
        //
        // Handle Delete Modal form submit using AJAX DELETE Phone (2)
        //
        var deleteForm2 = $("#deleteForm2");
        deleteForm2.submit(function(e){
            // make everything look like a Single Page Application
            // consuming the RESTful API routes based on user selection
            e.preventDefault();  // prevent handling the normal form submit click!
            var id = deleteForm2.find('input[name="quotationId"]').val();   
            $.ajax({
                type: deleteForm2.attr('method'),
                url:  deleteForm2.attr('action')+"/"+id,
                success: function (data) {
                    console.log('Deletion successful!');
                    // make a timed Bootstrap Alert on Success
                    // then re-direct to "/"
                    $('#successAlert').modal('show');
                    var timer = setTimeout(function() {
                        $(location).attr('href', '/P')
                    }, 3000);
                },
                error: function (data) {
                    console.log('An error occurred.');
                    // make a timed Bootstrap Alert on Error
                    // then re-direct to "/"
                    $('#errorAlert').modal('show');
                    var timer = setTimeout(function() {
                        $(location).attr('href', '/P')
                    }, 3000);
                },
            });
            $('#deleteModal').modal('hide');
        });
        //
        // Handle Delete Modal form submit using AJAX DELETE orders (3)
        //
        var deleteForm3 = $("#deleteForm3");
        deleteForm3.submit(function(e){
            // make everything look like a Single Page Application
            // consuming the RESTful API routes based on user selection
            e.preventDefault();  // prevent handling the normal form submit click!
            var id = deleteForm3.find('input[name="quotationId"]').val();   
            $.ajax({
                type: deleteForm3.attr('method'),
                url:  deleteForm3.attr('action')+"/"+id,
                success: function (data) {
                    console.log('Deletion successful!');
                    // make a timed Bootstrap Alert on Success
                    // then re-direct to "/"
                    $('#successAlert').modal('show');
                    var timer = setTimeout(function() {
                        $(location).attr('href', '/O')
                    }, 3000);
                },
                error: function (data) {
                    console.log('An error occurred.');
                    // make a timed Bootstrap Alert on Error
                    // then re-direct to "/"
                    $('#errorAlert').modal('show');
                    var timer = setTimeout(function() {
                        $(location).attr('href', '/O')
                    }, 3000);
                },
            });
            $('#deleteModal3').modal('hide');
        });
        //
        // Search: Field Selection
        //
        $("#fieldSearchSelect").on('change',function() {
            var k = $(this).val();
            if (k == 1) {
                $("#tableFilter").attr("placeholder", "Filter Quotation List ...");
            } else  {
                $("#tableFilter").attr("placeholder", "Filter Author List ...");
            }
            // $("#tableFilter").val("");
            $("#tableFilter").keyup();
        });
        //
        // Search: Field Selection Phone (2)
        //
        $("#fieldSearchSelect2").on('change',function() {
            var k = $(this).val();
            if (k == 1) {
                $("#tableFilter2").attr("placeholder", "Filter Quotation List ...");
            } else  {
                $("#tableFilter2").attr("placeholder", "Filter Author List ...");
            }
            // $("#tableFilter2").val("");
            $("#tableFilter2").keyup();
        });
        //
        // Search: Field Selection Order (3)
        //
        $("#fieldSearchSelect3").on('change',function() {
            var k = $(this).val();
            if (k == 1) {
                $("#tableFilter3").attr("placeholder", "Filter Quotation List ...");
            } else  {
                $("#tableFilter3").attr("placeholder", "Filter Author List ...");
            }
            // $("#tableFilter3").val("");
            $("#tableFilter3").keyup();
        });
        //
        // Search: Table Filter
        //
        $("#tableFilter").keyup(function(){
            var filter = $(this).val().toUpperCase(); 
            $("#quotationsList").find('tr').each(function(rows) {
                if (rows !==  0) {
                    var row = $(this);
                    var searching = "";
                    if ($("#fieldSearchSelect").val() == 1) {
                        searching = row.find("td:first").text().toUpperCase();
                    }  else  {
                        searching = row.find("td:first + td").text().toUpperCase();
                    }
                    if (searching.indexOf(filter) != -1) {               
                        row.show();
                    } else {
                        row.hide();
                    }
                }
            });
        });
        //
        // Search: Table Filter Phone (2)
        //
        $("#tableFilter2").keyup(function(){
            var filter = $(this).val().toUpperCase(); 
            $("#quotationsList2").find('tr').each(function(rows) {
                if (rows !==  0) {
                    var row = $(this);
                    var searching = "";
                    if ($("#fieldSearchSelect2").val() == 1) {
                        searching = row.find("td:first").text().toUpperCase();
                    }  else  {
                        searching = row.find("td:first + td").text().toUpperCase();
                    }
                    if (searching.indexOf(filter) != -1) {               
                        row.show();
                    } else {
                        row.hide();
                    }
                }
            });
        });
        //
        // Search: Table Filter Order (3)
        //
        $("#tableFilter3").keyup(function(){
            var filter = $(this).val().toUpperCase(); 
            $("#quotationsList3").find('tr').each(function(rows) {
                if (rows !==  0) {
                    var row = $(this);
                    var searching = "";
                    if ($("#fieldSearchSelect3").val() == 1) {
                        searching = row.find("td:first").text().toUpperCase();
                    }  else  {
                        searching = row.find("td:first + td").text().toUpperCase();
                    }
                    if (searching.indexOf(filter) != -1) {               
                        row.show();
                    } else {
                        row.hide();
                    }
                }
            });
        });
        //
        // Search: Database search
        //
        $("#databaseSearch").on('click',function() {
            var search = $("#databaseSearchFilter").val().replace(/[|&;$%@"<>()+,^  ]/g, "");
            if (search) {
                $(location).attr('href', '/'+$("#databaseSearchSelect").val()+'/'+search);
            } else {
                $(location).attr('href', '/');
            }
        });
        //
        // Search: Database search Phone (2)
        //
        $("#databaseSearch2").on('click',function() {
            var search = $("#databaseSearchFilter2").val().replace(/[|&;$%@"<>()+,^  ]/g, "");
            if (search) {
                $(location).attr('href', '/'+$("#databaseSearchSelect2").val()+'/'+search);
            } else {
                $(location).attr('href', '/P');
            }
        });
        //
        // Search: Database search Phone (3)
        //
        $("#databaseSearch3").on('click',function() {
            var search = $("#databaseSearchFilter3").val().replace(/[|&;$%@"<>()+,^  ]/g, "");
            if (search) {
                $(location).attr('href', '/'+$("#databaseSearchSelect3").val()+'/'+search);
            } else {
                $(location).attr('href', '/O');
            }
        });
        //
        //  If there is a database filter then add a badge
        //
        if ($(location).attr('pathname') !== '/') {
           $('#databaseFilterNotice').text("("+$(location).attr('pathname')+")");
        }
    });
</script>
</body>
</html>